<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <h1>Profile Page </h1>

        <p>
            <%= user.name %>
        </p>
        <p>
            <%= user.email %>
        </p>


        <!-- <form action="logout" method="get">
                <input type="submit" value="Logout" class="btn">
            </form> -->

            <div>
                <ul >
                    <% if(locals.user) {%>
                    <li>
                        <%= user.name %>
                    </li> 
                    <li>
                        <a href="/users/sign-out">Sign out</a>
                    </li>

                    <% }else{ %>
                        <li>
                            <a href="/users/sign-in">Sign in</a>
                        </li>
                        <li>
                            <a href="/users/sign-up">Sign up</a>
                        </li>

                    <% } %>
                </ul>
            </div>

    </div>
</body>

</html>