<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div class="container">
        <h1>sign up</h1>
        <div class="form-div">
            <form action="/users/create" method="post">
                <input type="text" name="name" placeholder="Enter Your Name" required>
                <input type="email" name="email" placeholder="Enter Your EMAIL" required>
                <input type="password" name="password" placeholder="ENTER YOUR PASSWORD" required>
                <input type="password" name="confirm_passwird" placeholder="CONFIRM YOUR PASSWORD" required>
                <input type="submit" value="Sign Up" class="btn">
            </form>
        </div>
    </div>
</body>

</html>