body {
    background-image: url("https://img.wallpapersafari.com/desktop/1440/900/16/94/zXqKwE.jpg");
    background-size: cover;
    color: aliceblue;
}

.container {
    text-align: center;
    margin-top: 20vh;
}

.form-div {
    display: flex;
    justify-content: center;
}

.form-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 50vh;
    height: 5vh;
    background-color: black;
    margin-top: 5%;
    border-radius: 2vh;
    color: aliceblue;
}

input::placeholder {
    color: aliceblue;
}

.btn {
    width: 30vh;
    background-color: grey;
    height: 6vh;
}

.details {
    font-size: 1.5rem;
}